*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #f4f8f9!important;
}

a {
    font-family: 'Inter', sans-serif;
    transition: all 300ms 300ms ease-out;
}

a:hover {
    transition: all 300ms 300ms ease-out;
    transform: skew(-15deg, 0deg);
    text-decoration: none !important;
}
